
.dark-background {
    width: 100%;
    height: 100vh;
    background-color: rgb(21, 21, 21, 0.7);
    position: fixed;

    z-index: 1;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 24px 40px;
    box-sizing: border-box;
}


nav {
    width: 240px;
    height: 100vh;
    background-color: #FFFFFF;
    display: block;
    position: fixed;
    top: 0px;
    right: 0px;

    transform: translateX(100%);

    padding: 78px 24px;
    box-sizing: border-box;

    z-index: 3;
}

.main-navigation {
    display: flex;
    flex-direction: column;
    gap: 16px;
}


.a-arrows{
    max-width: fit-content;
    
    display: flex;
    gap: 17px;
}

.a-display-flex {
    display: flex;
    align-items: center;
    gap: 14px;
}

.dropdown-nav {
    max-width: fit-content;
    padding: 26px 20px;

    display: flex;
    flex-direction: column;
    gap: 20px;
}





.btn {
    padding: 0px;
    cursor: pointer;

    background: none;
    border: none;

    z-index: 2;
}

.close-navigation {
    position: absolute;
    right: 20px;
    top: 21px;
}


.showNavigation {
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.hideNavigation {
    animation-name: moveInRight;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes moveInLeft {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0%);
    }
}

@keyframes moveInRight {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(100%);
    }
}



.display-none {
    display: none;
}